<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Countries</mat-toolbar>
    <mat-nav-list *ngFor='let country of resultArr; index as i'>
      <a mat-list-item [routerLink]="['./news', country.url]"> {{country.name}}</a>
    </mat-nav-list>
    <mat-toolbar>Category</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['./category', 'all']">All</a>
      <a mat-list-item [routerLink]="['./category', 'business']">Business</a>
      <a mat-list-item [routerLink]="['./category', 'entertainment']">Entertainment</a>
      <a mat-list-item [routerLink]="['./category', 'general']">General</a>
      <a mat-list-item [routerLink]="['./category', 'health']">Health</a>
      <a mat-list-item [routerLink]="['./category', 'science']">Science</a>
      <a mat-list-item [routerLink]="['./category', 'sports']">Sports</a>
      <a mat-list-item [routerLink]="['./category', 'technology']">Technology</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dashboard</span>
      
    </mat-toolbar>
 
    <app-section>
      
    </app-section>

  </mat-sidenav-content>

 
</mat-sidenav-container>

