.example-card {
    max-width: 100%;
    margin-left: 200px;;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-card{
    display: flex;
    flex-direction: column;
}
.example-card img{
  max-width: 600px;
  margin: 0 auto;
}

  @media only screen and (max-width: 600px) {
    .example-card {
      max-width: 100%;
      margin-left: 0px;;
    }
    
  }
  
